<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- <meta http-equiv="refresh" content="1"> -->
    <title>Document</title>
</head>

<body class="w-screen h-screen bg-red-100 ">



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- <meta http-equiv="refresh" content="1"> -->
    <title>Document</title>
</head>

<body class="w-screen h-screen bg-red-100 ">



<table class=" m-auto ">
    <thead>
        <tr>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden sm:table-cell">Product Name</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden sm:table-cell">Price</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden sm:table-cell">Status</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden sm:table-cell">Actions</th>
        </tr>
    </thead>

    {% for product in products %}
    <tbody>
        <tr class="bg-white sm:hover:bg-gray-100 flex sm:table-row flex-row sm:flex-row flex-wrap sm:flex-no-wrap mb-10 sm:mb-0">
            <td class="w-full sm:w-auto p-3 text-gray-800 text-center border border-b block sm:table-cell relative sm:static">
                <span class="sm:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Product</span>
                {{product.name}}
            </td>
            <td class="w-full sm:w-auto p-3 text-gray-800 text-center border border-b  block sm:table-cell relative sm:static">
                <span class="sm:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Price</span>
                {{product.price}}
            </td>
          	<td class="w-full sm:w-auto p-3 text-gray-800 text-center border border-b  block sm:table-cell relative sm:static">
                
                {% if product.validity == 'valid' %}
                    <span class="rounded-3xl py-1 px-3 text-xs font-bold bg-teal-300">Valid</span>
                {% else %}
                    <span class="rounded-3xl py-1 px-3 text-xs font-bold bg-rose-400">Expired</span>
                {% endif %}
          	</td>
            <td class="w-full sm:w-auto p-3 text-gray-800 text-center border border-b  block sm:table-cell relative sm:static">
                <span class="sm:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Actions</span>
                <button class="rounded-full py-1 px-3 text-xs font-bold bg-blue-300">
                  Editar 
                </button>
                
                <button class="rounded-full py-1 px-3 text-xs font-bold bg-red-300"> Excluir</button>

            </td>
       
    </tbody>
    {% endfor %}
</table>

















</body>
</html>















</body>
</html>