<!-- component -->
<!-- Create by joker banny -->
<div class="h-screen bg-indigo-100 flex justify-center items-center">
	<div class="lg:w-2/5 md:w-1/2 w-2/3">
		<form class="bg-white p-10 rounded-lg shadow-lg min-w-full" method="POST" action="/register">
			<h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">Formregister</h1>
			<div>
				<label class="text-gray-800 font-semibold block my-3 text-md" for="name">Product Name</label>
				<input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="name"
					placeholder="Product Name" />
			</div>
			<div>
				<label class="text-gray-800 font-semibold block my-3 text-md" for="price">Price</label>
				<input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="number" name="price"
					placeholder="Preço" />
			</div>
			<div class="  space-x-4">
				<label class="text-gray-800 font-semibold block my-3 text-md" flex>Status</label>
				<div class="flex space-x-10">
					<div class="flex items-center ">
						<input type="radio" name="validity" value="valid" id="valid" class="mr-2" />
						<label for="valid" class="text-gray-800 font-semibold">valid</label>
					</div>
					<div class="flex items-center ">
						<input type="radio" name="validity" value="expired" id="expired" class="mr-2" />
						<label for="expired" class="text-gray-800 font-semibold">expired</label>
					</div>
				</div>
				
			</div>
			
			<button type="submit"
				class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">Register</button>

		</form>
	</div>
</div>